body {
    font-family: 'Raleway', sans-serif;
    background-color: #292929;
}

.navbar {
    background-color: #151515;
    width: 100%
}

#box {
    margin: 10vh 0;
}

.card {
    background-color: #151515;
    color: #E9B872;
    height: 15rem; 
}

#socials {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #E9B872;
}

#linkedIn, #gitHub {
    height: 200px;
    width: 200px;
}

#linkedIn {
    float: left;
}

#gitHub {
    float: right;
}

.project {
    margin-left: 10vh;
    margin-bottom: 10vh;
}

.card-header {
    font-weight: 800;
    float:left;
}

.projImg {
    width:40vw;
}
/* 
#A63D40 red
#6494AA blue
*/