body {
    font-family: 'Raleway', sans-serif;
    background-color: #292929;
}

.navbar {
    background-color: #151515;
}

#box {
    margin: 10vh 2vw 0;
}

.card {
    background-color: #151515;
    color: #E9B872;
    height: 15rem; 
}


/* 
#A63D40 red
#6494AA blue
*/